@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

::-webkit-scrollbar-corner {
  background: #fff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #fff;
}